h1 {
    position: relative;
    top: 150px;
    text-align: center;
    background-color: #19274e;
    width: 80%;
    margin: auto;
    border-radius: 15px;
}

#container {
    position: relative;
    top: 150px;
    text-align: center;
    width: 80%;
    margin: auto;
    background-color: #536d88;
    border-radius: 15px;
}

.fieldsets {

    width: 80%;
    margin: auto;
    background-color: silver;
    border-radius: 15px;
}

body {
    background-image: url(../dia-1-exercicios/tropical-dark-trend-jungle-neon-illuminated-lighting-exotic-palms-plants-retro-style_124595-1127.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}

.button1 {
    position: relative;
    right: 100px;
    width: 100px;
    height: 40px;
    padding: 7px;
    background-color: #007bff;
    border-radius: 5px;
    border: 0;
}

.button2 {
    position: relative;
    bottom: 56px;
    left: 100px;
    width: 100px;
    height: 40px;
    padding: 7px;
    background-color: #007bff;
    border-radius: 5px;
    border: 0;
}